<div class="center-block"
     style="border: 2px solid #083858; border-radius: 8px; width: 450px; padding: 10px 10px 20px 20px;">
  <h1 class="text-center" style="color: #083858;">Reset Password</h1>
  <div *ngIf="isFormSubmitted && errorMessage !== ''" class="alert-danger">
    <label>{{errorMessage}}</label>
  </div>
  <form class="form" [formGroup]="resetForm" autocomplete="off" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error':fh.hasError(resetForm, 'email')}">
      <label style="color: #083858;">Enter your email here</label>
      <input type="email" placeholder="Enter email" class="form-control" formControlName="email" required/>
      <small class="text-danger" *ngIf="isFormSubmitted && resetForm.controls['email'].invalid">
        Enter Valid Email
      </small>
    </div>

    <p class="help-block"> {{ message }} </p>

    <button class="btn btn-sm btn-primary" type="submit" (click)="resetPass(resetForm)">Reset password</button>
  </form>

</div>
