// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

header.block {
  display: block;
  position: static;
}

header.active {
  background-color: #fff;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 900;
}

nav {
  a {
    margin-right: 10px;
  }
}

main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 50px 1em 1em;
  display: block;
}

footer {
  text-align: left;
  font-size: 0.8em;
}

.active {
  display: block;
}

.disabled {
  display: none;
}
